body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: #f3e5f5;
    display: flex;
}

.preview {
    width: 50%;
    background: #e0e0e0;
    padding: 5px;
    box-sizing: border-box;
}

.editor {
    width: 50%;
    background: #fce4ec;
    position: relative;
}

.editor .textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

.markdown-body p code {
    color: #d14;
}

.markdown-body blockquote {
    border-color: #8c618d;
}
